*{
    font-family: 'Sanchez', serif;
    padding: 0%;
}
body {
    background: rgba(170, 166, 157,1.0);
    padding: 0%;
}
.top{
    margin: 0%;
    background: rgb(51, 51, 51);
    box-shadow: 0px 10px 25px rgba( 10, 10, 10, 0.6);
    height: 80px;
    width: 100vmax;
    margin-bottom: -50px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    color: white;
}
.top h1,h2{
    position: relative;
    margin: auto;
    text-align: center;
}
.book-add{
    position: relative;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(8,40px);
    width: 250px;
    height: 55vh;
    border: 1px solid grey;
    border-radius: 20px;
    background: rgba(205, 97, 51,1.0);
    color: white;
    box-shadow: 0 20px 10px rgba(0,0,0,0.5);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal{
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
.modal h2{
    margin: auto;
    text-align: center;
    font-size: 16px;
}
.read-select{
    margin: auto;
}
.selection{
    display: grid;
    grid-template-columns: 1fr,1fr;
}
.text-input{
    margin: auto;
    margin-left: 10px;
    margin-top: 4px;
    height: 15px;
    width: 85%;
    border: none;
    outline: none;
    text-align: center;
    background: rgba(0,0,0,0);
}
.text-input-container{
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    margin: auto;
    background: rgba(230, 250, 250,1.0);
    margin-top: -15px;
    padding: 1%;
    height: 25px;
}
#book-submit{
    background:rgba(150, 40, 10,1.0);
    border: none;
    color: white;
    border-radius: 10%;
    width: 70%;
    height: 30px;
    margin: auto;
    margin-left: 15%;
    margin-top: 10px;
    outline: none;
}
#book-submit:hover{
    background:rgba(250, 140, 100,1.0);
}
#book-submit:active{
    transform: scale(0.8);
}
.modal h4{
    margin: 0%;
    margin-bottom: -20px;
    text-align: center;
}

.new-book{
    position: fixed;
    padding: 0%;
    bottom: 8vh;
    right: 6vw;
    margin: auto;
}
#new-btn{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 45px;
    color: white;
    text-align: center;
    margin: auto;
    width: 60px;
    height: 60px;
    background: rgba(205, 97, 51,1.0);
    border: none;
    border-radius: 50%;
    outline: none;
    box-shadow: 2px 2px 2px rgba(20, 20, 20,0.5);
}


@media only screen and (max-width: 500px){
    .book-add{
        width: 70vw;
        height: 65vh;
    }
    #new-btn{
        width: 90px;
        height: 90px;
        font-size: 70px;
    }
    .new-book{
        right: 12vw;
    }
}