html, body { 
    padding:0;
    margin:0;
}
*{
    font-family: 'Sanchez', serif;
    padding: 0%;
}
body {
    background: rgba(170, 166, 157,1.0);
    padding: 0%;
}
.top{
    position: absolute;
    margin: 0%;
    background: rgb(51, 51, 51);
    box-shadow: 0px 10px 25px rgba( 10, 10, 10, 0.6);
    height: 80px;
    width: 100%;
    color: white;
}
.top h1,h2{
    margin: auto;
    text-align: center;
}
.book-add{
    position: relative;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(8,40px);
    width: 250px;
    height: 400px;
    border-radius: 20px;
    background: rgba(205, 97, 51,1.0);
    color: white;
    box-shadow: 0 20px 10px rgba(0,0,0,0.5);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal{
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vw; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
.modal h2{
    margin: auto;
    text-align: center;
    font-size: 16px;
}
.read-select{
    margin: auto;
}
.selection{
    display: grid;
    grid-template-columns: 1fr,1fr;
}
.text-input{
    margin: auto;
    margin-left: 10px;
    margin-top: 4px;
    height: 15px;
    width: 85%;
    border: none;
    outline: none;
    text-align: center;
    background: rgba(0,0,0,0);
}
.text-input-container{
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    margin: auto;
    background: rgba(230, 250, 250,1.0);
    margin-top: -15px;
    padding: 1%;
    height: 25px;
}
#book-submit{
    background:rgba(150, 40, 10,1.0);
    border: none;
    color: white;
    border-radius: 10%;
    width: 70%;
    height: 30px;
    margin: auto;
    margin-left: 15%;
    margin-top: 10px;
    outline: none;
}
#book-submit:hover{
    background:rgba(250, 140, 100,1.0);
}
#book-submit:active{
    transform: scale(0.8);
}
.modal h4{
    margin: 0%;
    margin-bottom: -20px;
    text-align: center;
}

.new-book{
    position: fixed;
    padding: 0%;
    top: 85%;
    right: 3vw;
    margin: auto;
}
#new-btn{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 55px;
    color: white;
    text-align: center;
    margin: auto;
    width: 80px;
    height: 80px;
    background: rgba(205, 97, 51,1.0);
    border: none;
    border-radius: 50%;
    outline: none;
    box-shadow: 3px 3px 5px rgba(20, 20, 20,0.5);
}
#new-btn:active{
    transform: scale(0.9);
}
#new-btn:hover{
    background: rgb(247, 118, 63);
}
.book-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    top: 6em;
    margin: auto;
    width: 90vw;
    height: 100vh;
}
.book {
    position: relative;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    width: 250px;
    height: 350px;
    background: rgba(205, 97, 51,1.0);
    border-radius: 15px;
    box-shadow: 2px 20px 20px rgba(0,0,0,0.4);
    transition: 0.5s;
    color: white;
    cursor: pointer;
    -webkit-animation-name: animateleft;
    -webkit-animation-duration: 0.5s;
    animation-name: animateleft;
    animation-duration: 0.5s
}
@-webkit-keyframes animateleft {
    from {right:-300px; opacity:0}
    to {right:0; opacity:1}
}
  
@keyframes animateleft {
    from {right:-300px; opacity:0}
    to {right:0; opacity:1}
}

.book h2{
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.book h3{
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.book h4{
    position: absolute;
    margin: auto;
    top: 200px;
    left: 90px;
    text-align: center;
    margin-top: 30px;
}
.book:hover{
    transform: scale(1.08);
    box-shadow: 0 60px 60px rgba(0,0,0,0.35);
}
.delete-btn{
    position: absolute;
    bottom: 10px;
    background:rgba(150, 40, 10,1.0);
    border: none;
    color: white;
    border-radius: 10px;
    width: 55%;
    justify-self: center;
    align-self: center;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    margin-left: 22%;
    outline: none;
}
.read-btn{
    position: absolute;
    bottom: 50px;
    background:rgba(150, 40, 10,1.0);
    border: none;
    color: white;
    border-radius: 10px;
    width: 55%;
    justify-self: center;
    align-self: center;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    margin-left: 22%;
    outline: none;
}
.book button:hover{
    background:rgba(250, 140, 100,1.0);
}
.book button:active{
    transform: scale(0.95);
}
@media only screen and (max-width: 600px){
    .book-add{
        width: 70vw;
        height: 400px;
    }
    .new-book{
        right: 10px;
    }
    #new-btn{
        width: 60px;
        height: 60px;
        font-size: 55px;
    }
    .new-book{
        top: 90%;
        right: 2vw;
    }
    .top{
        width: 100vw;
    }
    .top h1{
        font-size: 1.6em;
        margin-top: 10px;
        width: 100%;
    }
    .top h2{
        font-size: 1.0em;
        width: 100%;
    }
    .book-container{
        grid-template-columns: none;
    }
    .book{
        padding-top: 5px;
    }
}